body {
    font-family: monospace;
}

.navbar {
    margin-bottom: 0;
    background-color: #0d001a;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important; 
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #ff0066 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}


.bg-cover {
    color: #fff;
    background: url('../img/tumblr-backgrounds-16958-17512-hd-wallpapers.jpg') no-repeat fixed;
    background-size: cover;
    padding: 200px 50px;
    text-align: justify;
    height: 675px;
}

.bg-cover h1 {
    font-size: 64px;
}

.bg-cover p {
    font-size: 18px;
}

.bg-1 {
    background-color: #fff;
    color: #000;
    padding: 60px 50px;
    text-align: justify;
    height: 800px;
}

hr.botm-line {
    height: 3px;
    width: 60px;
    background: #ff0066;
    position: relative;
    border: 0;
    margin: 20px 0 20px 0;
}

.panel {
    border: 1px solid #0d001a; 
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}


.panel-heading {
    color: #fff !important;
    background-color: #0d001a !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.btn {
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
}

.btn:hover {
  cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
}

.purple {
  color: #9b59b6;
  border: 2px #9b59b6 solid;
}

.purple:hover {
  color: #fff;
  background-color: #9b59b6;
}

